body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    padding: 20px;
    h1, h2 {
        color: #00796b;
      }
      nav a {
        margin-right: 10px;
        text-decoration: none;
        color: #004d40;
      }
      nav a:hover {
        text-decoration: underline;
      }
      
  }
  